<!--Make a footer-->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row p-4">
            <div class="col-md-4">
                <div class="text-secondary">
                    <p style="text-align: justify ;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil laboriosam, modi corporis tempora ut asperiores minus repellendus, repudiandae libero maxime quibusdam cupiditate cum, architecto assumenda porro magni. Quibusdam, rerum.
                    </p>
                </div>
                <div class="">
                    <span class="text-white">Copyright &copy; 2022 - Blog App Dist</span>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">
                    Blog Desarrollador por
                </h5>
                <p class="text-white"> - Lino Alcívar</p>
                <p class="text-white"> - Diana Aviles</p>
                <p class="text-white"> - Andres Mora</p>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">
                    Redes Sociales
                </h5>
                <div class="row">
                    <div class="col-md-6">
                        <a style="text-decoration: none;" href="https://www.instagram.com/diany.aviles.xd/" target="_blank">
                            <img style="width: 20%; margin: 0px 3%;" src="https://www.freepngimg.com/thumb/instagram/62707-photography-computer-instagram-icons-download-hq-png.png" alt="">
                            <span class="text-white">
                                @diany.aviles.xd
                            </span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a style="text-decoration: none;" href="https://www.instagram.com/josuealcivard/" target="_blank">
                            <img style="width: 20%; margin: 0px 3%;" src="https://www.freepngimg.com/thumb/instagram/62707-photography-computer-instagram-icons-download-hq-png.png" alt="">
                            <span class="text-white">
                                @AndresMora
                            </span>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a style="text-decoration: none;" href="https://www.instagram.com/shocknoisemusic/" target="_blank">
                            <img style="width: 20%; margin: 0px 3%;" src="https://www.freepngimg.com/thumb/instagram/62707-photography-computer-instagram-icons-download-hq-png.png" alt="">
                            <span class="text-white">
                                @shocknoisemusic
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>