<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3 mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h2>
                            Blogs de la ultima semana
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" aria-describedby="addon-wrapping">
                            <button class="btn btn-outline-secondary" type="button">Buscar</button>
                        </div>
                    </div>
                    <div class="col-md-12" *ngFor="let blog of blogs">
                        <div class="card p-2 blog-list">
                            <div class="blog-img">
                                <img class="rounded w-100" src="https://t3.kn3.net/taringa/7/2/1/8/4/5/Tyranus1/8B8.jpg"
                                    alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-title">
                                    <h4>{{blog.title}}</h4>
                                    <span>{{blog.autor}}</span>
                                    <p>{{blog.date}}</p>
                                </div>
                                <div class="blog-resume">
                                    <p> {{blog.content}} <a href="">Leer mas...</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>