<div class="container">
    <div class="title-home" style="margin: 3% 0px;">
        <h1 style="font-size: 24px;" class="text-info">Blog App Dist</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-4 mb-5">
                <div class="row">
                    <div class="col-md-8 p-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    {{blogs[1].title}}
                                </h3>
                            </div>
                            <div class="col-md-12">
                                <p class="text-secondary">
                                    <strong>Por {{blogs[1].autor}} - </strong>
                                    <span class="text-muted">
                                        {{blogs[1].date}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="bg_principal" [ngStyle]="{'background-image':'url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Cliente-Servidor.png)'}">
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                 <p>
                                    {{blogs[1].resume}}
                                 </p>
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-primary" [routerLink]="['../blogs/',blogs[1].id]">
                                    Leer Más
                                </a>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-4" style="margin-top: 3%;">
                        <h3 class="text-muted mb-4">Otros blogs</h3>
                        <div *ngFor="let blog of blogs; let i = index" class="blog-secondary mb-5">
                            <div class="img" style="width: 40%;">
                                <img class="w-100 rounded" src="{{getImage(i)}}" alt="">
                            </div>
                            <div class="w-50" style="margin: 0px 15px;">
                                <span class="badge bg-info">
                                    {{blog.autor}}
                                </span>
                                <h5 [routerLink]="['../blogs/', blog.id]" style="cursor: pointer;">{{blog.title}}</h5>
                                <p class="text-muted">{{blog.date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>