.blog-secondary {
    display: flex;

    h4 {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }
}

.bg_principal {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}